<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<style type="text/css">
table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr {
	background: lightgreen;
}

table tbody tr:nth-child(odd) {
	background: lightblue;
}

img {
	width: 100px;
	height: 100px;
}
</style>
</head>
<body>
	<h1>Student Detail</h1>
	<div class="container">
		<div class="table-responsive">
			<table id="mytable" class="table table-bordred table-striped">
				<thead>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Thumbnail</th>
				</thead>

				<tbody>

					<tr th:object="${students}">
						<td th:text="*{id}"></td>
						<td th:text="*{name}"></td>
						<td th:text="*{description}"></td>
						<td style="background: blue; text-align: center;"><img
							th:src="*{thumbnail}" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>