<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


<script type="text/javascript" src="path_to/jquery.js"></script>
<script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>
<link type="text/css" rel="stylesheet"
	href="path_to/simplePagination.css" />

<style type="text/css">
.btn-group .btn {
	transition: background-color .3s ease;
}

.panel-table .panel-body {
	padding: 0;
}

.table>thead>tr>th {
	border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
	border-style: none;
	margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
	text-align: center;
	width: 50px;
}

.panel-table .panel-body .table-bordered>thead>tr>th.col-tools {
	text-align: center;
	width: 150px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
	border-right: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
	border-left: 0;
}
</style>

</head>
<body>
	<div class="container">
		<div class="panel-heading" style="background: #337ab7">
			<h3 class="panel-title" style="text-align: center;color: white;">Student Mangement</h3>
						
		</div>
		<div class="row">

			<div class="panel panel-default panel-table">

				<div class="panel-body">
					<table id="mytable"
						class="table table-striped table-bordered table-list">
						<thead>
							<tr>

								<th class="col-tools"><span
									class="glyphicon glyphicon-wrench" aria-hidden="true"></span></th>
								<th class="hidden-xs">ID</th>
								<th class="col-text">Name</th>
								<th class="col-text">Description</th>
								<th class="col-text">Thumbnail</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="students : ${students}" th:object="${students}">

								<td align="center"><a
									th:href="@{/student/view (id = *{id}) }"
									class="btn btn-default"><span
										class="glyphicon glyphicon-file" aria-hidden="true"></span></a> <a
									th:href="@{/student/remove/{id} (id = *{id}) }"
									class="btn btn-danger"><span
										class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> <a
									th:href="@{/student/edit/{id} (id = *{id}) }"
									class="btn btn-success"><span
										class=" glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
								</td>
								<td th:text="*{id}"></td>
								<td th:text="*{name}"></td>
								<td th:text="*{description}"></td>
								<td style=" text-align: center; width: 50px">
									<img th:src="*{thumbnail}" style="width: 50px;height: 50px; "/>
								</td> 
							</tr>
						</tbody>
					</table>

				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col col-xs-offset-3 col-xs-6">
							<nav aria-label="Page navigation" class="text-center">
								<ul class="pagination">
									<li><a href="#"
										th:href="(${pageNumber}!=1)?@{/student/page(pageNumber=(${pageNumber}-1))}:@{/student/page(pageNumber=1)}"
										aria-label="Previous"> <span aria-hidden="true">«</span>
									</a></li>

									<li><a th:each="i : ${#numbers.sequence(1,maxpage)}"
										th:class="(${i}==${pageNumber})?activepage:notactivepage"
										th:text="${i}" th:href="@{/student/page(pageNumber=${i})}"></a></li>

									<li><a
										th:href="(${pageNumber}!=${maxpage})?@{/student/page(pageNumber=(${pageNumber}+1))}:@{/student/page(pageNumber=${maxpage})}"
										aria-label="Next"> <span aria-hidden="true">»</span>
									</a></li>
								</ul>
							</nav>
						</div>
						<div class="col col-xs-3">
							<div class="pull-right">
								<a th:href="@{/student/add}" class="btn btn btn-primary"><span
									class="glyphicon glyphicon-plus" aria-hidden="true"></span>New
									Student</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>